# 依赖目录
node_modules/
.pnpm-store/

# 构建产物
dist/
dist-ssr/

# 编辑器缓存
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript 编译缓存
*.tsbuildinfo

# 日志
*.log
npm-debug.log*

# 系统文件
.DS_Store
Thumbs.db
